body {
  width            : 90vw;
  height           : 90vh;
  background-color : lightgray;
  font-size:  3vh;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size:  8vh;
}

.mainSection {
  margin-left: 3vw;
}

.imgFit {
  width:  90vw;
}